<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>

    <%- include('./partials/nav') %>
<div class="Box1"><h2>Book Name = <%= data.name %>
</h2>
<h2>Author Name =<%= data.Author %>
</h2>
<h2>Book Price=<%= data.Price %>
</h2>
<h2>Book Quantity=<%= data.quantity %>
</h2>
<h2>Book Category=<%= data.Category %>
</h2>

</h2></div>
        
</body>

</html>