<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('./partials/nav') %>


    <form class="FormBox" action="/update/<%= index %>" method="post">
        <input value="<%= data.title %>" type="text" placeholder="Book Name" name="title">
        <input  value="<%=data.Author  %>" type="text" placeholder="Author Name" name="Author">
        <input value="<%= data.Price %>" type="text" placeholder="Book Price"name="Price">
        <input  value="<%=data.quantity  %>"type="text" placeholder="book Quantity" name="quantity">
        <input  value="<%=data.Category %>"type="text" placeholder="Book Category" name="Category"> 
        <textarea name="Description" placeholder="Enter Text Here"cols="30" rows="10"> <%= data.Description %></textarea><br> 
            <button>update Book</button>
    </form>
</body>
</html>